@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap");

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transistion-500ms {
  transition: 0.5s;
}

.react-calendar__tile--now,
.react-calendar__tile--active,
.react-calendar__navigation,
.react-calendar__tile:enabled:hover,
.react-calendar__navigation button:enabled:hover {
  background-color: rgb(55 65 81) !important;
}
.react-calendar__tile:disabled {
  cursor: not-allowed;
  background-color: rgb(77, 85, 97) !important;
}
.react-calendar__navigation button:disabled {
  display: none;
}
